*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    }

body{
    background-color: black;
    font-family:'Poppins', sans-serif;
    color: white;
    text-align: center;
}

.header{
font-size: 20px;
    display: flex;
    justify-content: right;
}

.navbar{
display: flex;
position: fixed;
z-index: 100;
margin-right: 40px;
margin-top: 20px;
}

.navbar a{
    display: block;
    padding: 23px 20px;
}

.newdrops{
    color: aliceblue;
    text-decoration: none;

}
.newdrops:hover{
    color: #b8860b;
    transition: .5s ease-in-out;   
}
.nosotros{
    color: aliceblue;
    text-decoration: none;
}
.nosotros:hover{
    color: #b8860b;
    transition: .5s ease-in-out;   
}
.contacto{
    color: aliceblue;
    text-decoration: none;
}
.contacto:hover{
    color: #b8860b;
    transition: .5s ease-in-out;   
}
.productos{
    color: aliceblue;
    text-decoration: none;
}
.productos:hover{
    color: #b8860b;
    transition: .5s ease-in-out; 
}

.flexbox{
  display: block;
  margin-left: 15px;
  position: fixed;
}



.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}

section h3{
    margin-top: 25px;
    font-size: 18px;
}
section p{
    margin-top: 12px;
    font-size: 15px;
}
.container2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 22px;
    align-items: center;
}

.carrito{
    display: block;
text-align: center;
font-size: 15px;
text-decoration: none;
line-height: 40px;
color: black;
width: 140px;
height: 40px;
background-color: rgba(255, 255, 255, 0.473);
padding: 0 auto;
margin: 0 auto;
border-radius: 10px;
}

.vertodo{
display: block;
text-align: center;
font-size: 15px;
transition: .3s ease-in;
text-decoration: none;
line-height: 40px;
color: aliceblue;
width: 140px;
height: 40px;
background-color: azure;
color: black;
padding: 0 auto;
margin: 0 auto;
margin-top: 70px;
}

.vertodo:hover{
    color: white;
    transition: .5s ease-in-out; 
    background-color: black;  
}



.container3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 200px;
    align-items: center;
    padding-left: 140px;
    padding-right: 100px;
    padding-bottom: 200px;
}

.div section h1 p{
    line-height: normal;
}

.container4{
    width: 100%;
padding: px;
padding-bottom: 60px;
background-image: url(img/fotocontacto.jpg);
}

.piedepagina{
    background: #ffffff8c;
    
}

.redes{
    width: 600px;
    margin: 0 auto;  
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 20px;
}
.redes li{
width: 40px;
   line-height: 40px;
   display: block;
   text-align: center;
}

.cnc{
    padding-bottom: 30px;
}

.contactanos{
    text-align: center;
    justify-content: center;
    font-size: 50px;
    padding-top: 60px;
    padding-bottom: 20px;
}

.nya{
    color: aliceblue;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    padding-bottom: 20px;
}

.ingresa{

margin: 0 auto;
padding: 0 auto;
color: rgba(70, 70, 70, 0.404);
font-size: 15px;
text-decoration: none;
line-height: 40px;
width: 500px;
background-color: azure;
border-radius: 10px;
display: block;
}

.correo{
    color: aliceblue;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    padding-bottom: 30px;
}

.correo2{

margin: 0 auto;
padding: 0 auto;
color: rgba(70, 70, 70, 0.404);
font-size: 15px;
text-decoration: none;
line-height: 40px;
width: 500px;
background-color: azure;
border-radius: 10px;
display: block;

}

.asunto{
    color: aliceblue;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    padding-bottom: 30px;
}

.asunto2{
padding-bottom: 50px;
margin: 0 auto;
padding: 0 auto;
color: rgba(70, 70, 70, 0.404);
font-size: 15px;
text-decoration: none;
line-height: 40px;
width: 500px;
background-color: azure;
border-radius: 10px;
display: block;

}
.enviar{
margin: 0 auto;
padding: 0 auto;
color: white;
font-size: 20px;
text-decoration: none;
line-height: 50px;
width: 160px;
height: 50px;
background-color:rgba(255, 255, 255, 0.329);
border-radius: 10px;
display: block;
margin-top: 30px;
margin-bottom: 40px;
}

.enviar:hover{
    color: rgb(255, 255, 255);
    transition: .5s ease-in-out; 
    background-color: rgba(0, 0, 0, 0.39);  
}